@layer components {
  .glassyBg {
    @apply bg-[rgba(30,30,30,0.35)]   backdrop-blur-xl border border-[rgba(255,255,255,0.08)]
          shadow-[0_4px_20px_rgba(0,0,0,0.3),inset_0_0_30px_rgba(255,255,255,0.05)];
  }
}
@layer utilities {
  .c-padding {
    @apply px-6 md:p-16;
  }
}
