@import "tailwindcss";
@import "./customUtility.css";
@import "./utility.css";
@import "./shadcdnTheem.css";
@import "./swiper.css";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
@plugin "daisyui";

@keyframes gradient-x {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

@utility animate-gradient-x {
  animation: gradient-x 15s ease infinite;
  background-size: 200% 200%;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply text-foreground;
    background: transparent;
  }
  html {
    @apply bg-background;
  }
}

@theme inline {
  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;
  @keyframes marquee {
  from {
    transform: translateX(0);
    }
  to {
    transform: translateX(calc(-100% - var(--gap)));
    }
  }
  @keyframes marquee-vertical {
  from {
    transform: translateY(0);
    }
  to {
    transform: translateY(calc(-100% - var(--gap)));
    }
  }
}